.Section6{
    padding: 5rem 0 ;
    border-bottom: 5px solid black;
    .Icons{
        border:1px solid red;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        .Icon{
            border:1px solid green;
            padding: 3rem;
            p{
                padding: 1rem;
            }
        }
    }

    .Panels{
        //background-color: red;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 200vh;

        
        .Panel{
            height: 100vh;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            p{
                    border:1px solid black
            }
           
        }
        .Panel1{
           background-color: white;
        }
        .Panel2{
            background-color: #e1e1e1;
        }
        .Panel3{
            background-color: white;
        } 
        .Panel4{
            background-color: #e1e1e1;
        }
    }
   
  }