//$Path:"";
//$Path:"https://gdn-cdn.s3.amazonaws.com/embed/2019/06/westpac-scholars";
//$BaseColor1:#FFAE49;
//$BottomColor:#F79D2C;
$BaseColor1:#FCD5C2;
$BottomColor:#FFB28D;
$TechColor :#8CB0C9;//#8CB0C9;
$BiologyColor:#5A5978;// #5A5978;
$HealthColor:#FFC50A; //#FFC783;
$CultuerColor:#FF7BAF; //#C98CA4;
$EnviromentColor:#8CC98D; //#8CC98D;
$EconomicColor:#F16A51; // #F3694C;