
$breakPointXXl: 78.75rem;
$breakPointXl:68.75rem;
$breakPointl:58.75rem;
$breakPointXM:43.75rem;
$breakPointM :43.75rem;
$breakPointSM:33.75rem;
$breakPointXSM :95%;
$breakPointXXSM:95%;


// Inner Layout Breaks
$widthXXL:100%;
$marginXXL: 0 0 0 0%;

$widthXL:100%;
$marginXL: 0 0 0 0%;

$widthL:100%;
$marginL: 0 0 0 0%;


$widthM:100%;
$marginM: 0 0 0 0%;

$widthS:100%;
$marginS: 0 0 0 0%;

$widthXS:100%;
$marginXS: 0 0 0 0%;